body {
    background: url("../img/background_familly.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: "mafont";
    src: url('../fonts/TheSalvador-Condensed.otf');
}

body {
    font-family: "mafont";
}

.titre {
    text-align: center;
    font-size: 60px;
    color: #000;
}

.btn_score {
    text-align: center;
    color: white;
    background: rgba(20, 193, 224, 1);
    display: inline-block;
    padding: 0px 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
    margin: 3px;
    transition: all 0.5s ease-in-out;
}

.btn_score:hover {
    background: rgba(255,255,255,1);
    color: #14c1e0;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease-in-out;
}

.btn2 a {
    text-align: center;
    color: white;
    background: rgba(20, 193, 224, 1);
    display: inline-block;
    padding: 0px 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
    margin: 3px;
    transition: all 0.5s ease-in-out;

    margin-top: 50px;

}

.btn2 a:hover {
    background: rgba(255,255,255,1);
    color: #14c1e0;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease-in-out;
}

.btn3 a {
     text-align: center;
     color: white;
     background: rgba(20, 193, 224, 1);
     display: inline-block;
     padding: 0px 10px 10px;
     text-decoration: none;
     font-weight: bold;
     border-radius: 15px;
     -moz-border-radius: 15px;
     -webkit-border-radius: 15px;
     box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
     -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
     -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
     margin: 3px;
     transition: all 0.5s ease-in-out;
     margin-top: 50px;
 }

.btn3 a:hover {
    background: rgba(255,255,255,1);
    color: #14c1e0;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease-in-out;
}

.btn4 a {
    text-align: center;
    color: white;
    background: rgba(20, 193, 224, 1);
    display: inline-block;
    padding: 0px 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
    margin: 3px;
    transition: all 0.5s ease-in-out;

    margin-top: 50px;

}

.btn4 a:hover {
    background: rgba(255,255,255,1);
    color: #14c1e0;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease-in-out;
}

.btn5 a {
    text-align: center;
    color: white;
    background: #71357F;
    display: inline-block;
    padding: 0px 10px 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
    margin: 3px;
    transition: all 0.5s ease-in-out;

    margin-top: 20px;

}

.btn5 a:hover {
    background: rgba(255,255,255,1);
    color: #14c1e0;
    transform: scale(1.1,1.1);
    transition: all 0.5s ease-in-out;
}




































@media screen and (max-width: 500px) {
/*telephone*/

    h1 {
        text-align: center;
        font-size: 60px;
        margin-top: 50px;
        color: #C2000C;
    }

    .partieGauche {
        width: 100%;
        height: 100%;
        float: left;
    }

    .partieDroite {
        width: 100%;
        height: 100%;
        float: right;
    }
    .btn a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-left: 40%;
        margin-top: 150px;
    }

    .btn a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn2 a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-left:20%;
        margin-top: 50px;
        float: left;
    }

    .btn2 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn3 a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-top: 50px;
        float: right;
    }

    .btn3 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn4 a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-right: 23%;
        margin-top: 50px;
        float: right;
    }

    .btn4 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn5 a {
        text-align: center;
        color: white;
        background: #71357F;
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-left: 23%;
        margin-top: 100px;    }

    .btn5 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /*tablette*/

    h1 {
        text-align: center;
        font-size: 60px;
        margin-top: 200px;
        color: #C2000C;
    }

    .btn a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-left: 40%;
        margin-top: 150px;
    }

    .btn a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn2 a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-left:25%;
        margin-top: 50px;
        float: left;
    }

    .btn2 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn3 a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-top: 50px;
        float: right;
        margin-right: 23%;
    }

    .btn3 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn4 a {
        text-align: center;
        color: white;
        background: rgba(20, 193, 224, 1);
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-right: 25%;
        margin-top: 50px;
        float: right;
    }

    .btn4 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

    .btn5 a {
        text-align: center;
        color: white;
        background: #71357F;
        display: inline-block;
        padding: 0px 10px 10px;
        text-decoration: none;
        font-weight: bold;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
        margin: 3px;
        transition: all 0.5s ease-in-out;
        margin-left: 40%;
        margin-top: 150px;
        float: left;
    }

    .btn5 a:hover {
        background: rgba(255,255,255,1);
        color: #14c1e0;
        transform: scale(1.1,1.1);
        transition: all 0.5s ease-in-out;
    }

}

