body {
	background: url("../img/funnymonstersbg.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

footer {

	background-color:rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
}

.dkl_footer {
	width: 5%;
}



* {
	margin: 0;
	padding: 0;
}


section {
	margin-top:80px;
	margin-bottom:100px;
}

header img {
	height: 100%;
}


.boutonpartiejouer {
	background-color: rgb(178, 188, 218);
	border: none;
	color: white;
}

h4 {
	color: rgb(178, 188, 218);
}
