 body  {
    background: url("../img/background_partie.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img.carte_main {
    width: 100%;

}

img.carte_pose {
    width: 100px;
    padding: 10px;
    margin-right: -85px;
}


img.rectopioche {
    width: 100px;
    margin-right: -85px;
    display: inline-block;
}

