body {
	background: url("../img/background_familly.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@font-face {
	font-family: "mafont";
	src: url('../fonts/TheSalvador-Condensed.otf');
}

body {
	font-family: "mafont";
}

footer {

	background-color:rgba(0, 0, 0, 0.2);
	position: fixed;
	bottom: 0;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: white;
}

.dkl_footer {
	width: 5%;
}



* {
	margin: 0;
	padding: 0;
}


section {
	margin-top:80px;
	margin-bottom:100px;
}

header img {
	height: 100%;
}


.boutonpartiejouer {
	background-color: rgb(178, 188, 218);
	border: none;
	color: white;
}

h4 {
	color: rgb(178, 188, 218);
}


.btn2 a {
	text-align: center;
	color: white;
	background: rgba(20, 193, 224, 1);
	display: inline-block;
	padding: 0px 10px 10px;
	text-decoration: none;
	font-size: 170%;
	font-weight: bold;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.8);
	margin: 3px;
	transition: all 0.5s ease-in-out;
	padding:30px;
	margin-top: 50px;

}

.btn2 a:hover {
	background: rgba(255,255,255,1);
	color: #14c1e0;
	transform: scale(1.1,1.1);
	transition: all 0.5s ease-in-out;
}

.titre {
	text-align: center;
	font-size: 60px;
	color: #000;
}